.button{
    border-radius: 5px;
    width: 30px;
    height: 40px;
background-color: black;
}
.team-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px wheat;
  }
  
  .team-item img {
    transition: 0.5s;
  }
  
  .team-item:hover img {
    transform: scale(1.1);
  }
  
  .team-text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .team-item:hover .team-text {
    bottom: 0;
    opacity: 1;
    border-radius: 5%;
  }
  
  .team-item a.btn:hover {
    color: white;
    background: rgb(71, 71, 255);
    border-color: black;
  }
  .menu-background{
    background: url(./menu.jpg) center center no-repeat;
    background-size: cover;
}
.bc{
    background-color: #7c9d96d2;
}
.footer-background{
  background: linear-gradient(90deg, #7C9D96 0%, #A1CCD1 35%, #E9B384 100%); 
}
.footer-btn{
  right: 90px;
  background-color: black;
  opacity: 0.5;
}
.ft{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.btn-size{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: black;
  opacity: 0.5;
}
 .ladan{
  background-color: #116A7B;
 }

/* Navbar */

.navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 15px 0;
  color: #696e77;
  font-weight: 500;
  outline: none;
}
@media (min-width: 950px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}